.cv-creator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  animation: fadeIn 1.5s cubic-bezier(0.2, 0.65, 0.7, 1.3);
  gap: 40px;
  padding: 0 30px;

  .form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 1/3;
    grid-row: 1/-1;

    .form-section {
      .heading {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 1.8em;
        margin-bottom: 20px;
      }

      .inputs {
        display: grid;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
      }

      input {
        outline: none;
        border: 1px solid transparent;
        padding: 10px 15px;
        border-radius: 5px;
      }

      input:last-child {
        grid-column: 1/-1;
      }

      input:focus {
        border: 1px solid #f59e0b;
      }

      textarea {
        min-height: 100px;
        width: 100%;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid transparent;
        padding: 10px;
      }

      textarea:focus {
        border: 1px solid #f59e0b;
      }

      button {
        padding: 10px;
        font-size: 0.9rem;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-transform: capitalize;
        align-self: start;
      }

      .wrapper {
        color: #fdba74;
        text-transform: capitalize;
        margin-bottom: 15px;
        padding: 10px;
        color: white;
        background-color: #334155;
        border-radius: 10px;
        color: #f59e0b;
        font-weight: 700;
        :hover {
          cursor: pointer;
        }
      }

      .education {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          font-size: 1.1em;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            width: 100%;
          }
        }

        .date-wrapper {
          display: grid;
          grid-template-columns: repeat(2, minmax(50px, 1fr));
          column-gap: 20px;

          input[type="date"] {
            width: 100%;
            color: #fdba74;
            margin-top: 5px;
          }
        }

        .button-wrapper {
          display: flex;
          gap: 30px;

          button {
            flex: 1;
          }
        }
      }
    }
  }

  .cv-display {
    grid-column: 3/-1;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    gap: 30px;
    position: sticky;
    top: 0;

    .section-heading {
      font-size: 1.3em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #fdba74;
      font-weight: 900;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.8em;
      word-break: break-word;
    }

    .fullname {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(255, 255, 255, 0.87);
      grid-column: 1/-1;
      gap: 15px;

      .firstname {
        font-weight: 500;
        font-size: 1.8em;
      }

      .lastname {
        font-size: 1.8em;
        font-weight: 900;
      }
    }

    .left-side {
      grid-column: 1/3;
      display: grid;
      gap: 30px;
      padding: 15px;
      grid-template-rows: max-content;

      .contact {
        .wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 12px;

          img {
            width: 20px;
          }
        }
      }
    }

    .right-side {
      padding: 15px;
      grid-column: 3/-1;
      display: grid;
      grid-template-rows: max-content;
      gap: 30px;
      position: relative;
      word-break: break-word;

      .education-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;

        h1 {
          font-size: 1.1em;
          font-weight: 800;
        }

        h2 {
          font-size: 0.9em;
          text-align: center;
        }

        .wrapper {
          display: flex;
          gap: 10px;
          align-items: center;

          .date-wrapper,
          .location-wrapper {
            display: flex;
            align-items: center;
          }

          .date-wrapper {
            gap: 5px;
          }

          .location-wrapper {
            gap: 10px;
          }
        }
      }

      .education-wrapper:not(:last-child)::after {
        content: "";
        background-color: rgba(255, 255, 255, 0.87);
        height: 1px;
      }
    }

    .right-side::before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.87);
      z-index: 1;
      width: 1px;
      height: 100%;
      left: -15px;
      top: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
