@use "/src/styles/landing.scss";
@use "/src/styles/cv-creator.scss";
@use "/src/styles/cv-display.scss";
@use "/src/styles/personalInfo.scss";
@use "/src/styles/education.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
}

.hidden {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}
